/* body {
  background-image: url('./images/kk.jpg');
} */

.ab {
    position: relative;
    right: 35%;
    font-size: 3.5vh;
  }

  .hakdama {
  color: rgb(185, 139, 83);
  /* color: black; */
    text-align: center;
    font-size: 3.5vh;
    line-height: 2em; 
    font-weight: 5000;
  }

  .til {
  color: rgb(185, 139, 83);
    text-align: center;
    font-size: 6vh;
    font-weight: 600;
  }