.home {
    background-image: url('./images/bi.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%; 
    position: relative;  
  }
  
  .ftitle{
    font-size: 8vw;
    text-align: center; 
    bottom: 35%;
    position: absolute;
  }
  
  .watch {
    top: 25%;
    position: absolute;
    width: 10vw
  }

