@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  direction: rtl;
  text-align: right;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(218, 184, 143);
  background-color:rgb(238, 238, 238); 
  
}

nav {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
  left: 37%;
  bottom: 40%;
}

.link {
  font-size: 3vh;
  text-decoration: none;
  color: rgb(39, 56, 112);
}


