.list  {



}

.tiks {
    /* width: 100%;
    height: 100%; */
    align-items: space-evenly;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap;  */
    /* flex-direction: row */
    height: 100px
    

}

.ol {
  margin: 15px; /* Add some margin between the flex items */
  border: 1px solid #808080; /* Just to show the boundaries of each item */
  padding: 20px;
  text-align: center;
  color: rgb(180, 126, 8);
  flex: 0 0 auto;
  font-size: 3vh;
  cursor: pointer;
  background-color: #d3d3d3b2;
}

.ol:hover {
    background-color: rgba(129, 116, 116, 0.541);
}

.back {
    font-size: 4vh;
    position: absolute;
    cursor: pointer;
    /* top: 5vh; */
    right: 2VW;
}

.n {
    height: 100vh;
}

/* .list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ol {
    background-color: aliceblue;
    height: 5vh;
    width: 10vw;
} */