/* body {
  background-color:rgb(129, 134, 141); 
} */

.ab {
    position: relative;
    left: 50%;
}

.container  {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    place-items: center;
    position: relative;
    top: 18%;
    position: absolute;
    /* right: 8VW; */
    
}

.ab:hover {
  /* color: rgb(20, 30, 6   3); */
  color: rgb(182, 131, 69);
    
}

.item {
    /* background-color: lightgray; */
 background-image: url('./images/noz.jpg');
 border: 1px solid rgb(149, 182, 204);
    padding: 50%;
    /* margin: 2 0px; */
    height: 9vh;
    width: 6vw;
    /* padding: 10px; */
    text-align: center;
    /* margin: 5px; */
    /* color: rgb(185, 139, 83); */
    border-radius: 6px;
    font-size: 3.4vh;
    justify-content: center;
     /* font-weight: 600; */
  color: rgb(182, 131, 69);

    /* padding  : 0; */
}

.item:hover {
    background-color: rgb(167, 167, 167);
    cursor: pointer;
    transform: scale(1.3);
    font-weight: bold;
    
}